<div class="text-center">
<h1 class="text-color larger">Arcade</h1>
<br />
<br />
<br />
<br />
<%= link_to "Pong", pong_path, class: "btn btn-primary larger-btn" %>
<br />
<br />
<br />
<%= link_to "Breakout", break_path, class: "btn btn-primary larger-btn" %>
<br />
<br />
<br />
<%= link_to "Snake", snake_path, class: "btn btn-primary larger-btn" %>
</div>