<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="pong.js"></script>
</head>
<body>
  <div class="text-center">
    <%= link_to "Home", root_path, class: "btn btn-primary center-btn" %>
  </div>
  <canvas id="gameCanvas" width="800" height="600"></canvas>
  
</body>
</html>

